<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/dashboard/" method="POST">
        <label>Amount</label><br>
        <input type="number" name="amount"><br>
        <label>Comment</label><br>
        <input type="text" name="comment"><br>
        <input type="submit" name="submit-income" value="Income">
        <input type="submit" name="submit-outcome" value="Outcome">
    </form>

</body>

<hr>

    <table>
        <tr>
            <th>Amount</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        {% for t in data %}
        <tr style="color:{% if t[5] == 0 %} red {% else %} green {% endif %};">
            <td>{{t[3]}}</td>
            <td>{{t[4]}}</td>
            <td>{{t[2]}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/export/">export docx</a>

</html>